---
import Layout from "../layouts/Layout.astro";
import BookingCalendar from "../components/BookingCalendar.astro";
---

<Layout title="Book · Studio 17">
  <div style="padding-top: 80px;"></div>
  <BookingCalendar />
</Layout>
